<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Germany BTS</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container>
            <!-- <v-row align="center" justify="center">
              <v-col cols="12" align-self="center">
                <div class="d-flex justify-center">
                  <a download="ticket_apk" href="./assets/app-release.apk" title="apk">
                    <img
                      style="width: 100%; contain: content;"
                      src="https://www.settour.com.tw/ss_img/info/location/HDB/B0/HDB0000015/HDB0000015_77106.jpg"
                    ></img>
                  </a>
                </div>
              </v-col>
            </v-row> -->
            <v-row align="center" justify="center">
              <v-col cols="12" align-self="center">
                <div class="d-flex justify-center">
                  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdOIyqUFjodyqBbVSP13ee_h337JR3Xw8gZhrdFWRfk8K_kmQ/viewform">
                    <img
                      style="width: 100%; height: calc(40vh - 24px); object-fit: contain;"
                      src="/assets/APP_Lobby.png"
                    ></img>
                  </a>
                </div>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <form>
                <v-text-field
                  v-model="name"
                  label="Name"
                  required
                ></v-text-field>

                <v-text-field
                  v-model="email"
                  label="E-mail"
                  required
                ></v-text-field>

                <v-text-field
                  v-model="account"
                  label="末五碼"
                  required
                ></v-text-field>
            
                <v-btn color="primary" width="200px" @click="submit">
                  購買天鵝堡門票
                </v-btn>
              </form>
              
            </v-row>
            
            <!-- <v-row align="center" justify="center">
              <v-btn color="primary" width="200px" href="./page/swan-ticket.html">
                購買天鵝堡門票
              </v-btn>
            </v-row>
            <v-row align="center" justify="center" class="mt-8">
            
              <v-btn color="primary" width="200px" href="./page/train-ticket.html">
                購買車票
              </v-btn>
            </v-row>
            <v-row align="center" justify="center" class="mt-8">
              <v-btn color="primary" width="200px" href="./page/combine-ticket.html">
                購買組合套票
              </v-btn>
            </v-row> -->
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),

        data() {
          return { 
            name: '',
            email: '',
            account: ''
          }
        },

        methods: {
          submit() {
            console.log('HI');
            $.ajax({
              url: "https://script.google.com/macros/s/AKfycbzF2NX9IqtVcClzMxrP-zISKiWIZk5IKxUx5y_ibEQQXKWC5yJYKrd8YGNCP-pcXS6y/exec",
              data: {
                  "name": this.name,
                  "email": this.email,
                  "account": this.account
              },
              dataType: "JSON",
              success: function (response) {
                console.log('success');
              },
              error: function (xhr) {
                console.log('fail');
                alert("發生錯誤: " + xhr.status + " " + xhr.statusText);
              }
            });
          }
        }
      })
    </script>
  </body>
</html>
